body {
    margin: 40px 100px;
    line-height: 1.6;
    font-size: 1.3em;
    color: #444;
}

h1, h2, h3 {
    line-height: 1.2;
    /* color: #367fff; */
}

h1 {
    font-size: 3.5em;
    color: #012280;

}

h2 {
    font-size: 2.2em;
    color: #0249e3;
}

h3 {
    font-size: 1.8em;
    color: #366ffa;
}

h4 {
    font-size: 1.5em;
    color: #5691f7;
}

.image {
    max-width: 80%;
}

img {
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.text {
    width: 65%;
}

.caption {
    text-align: center;
    margin: 0;
    width: 80%;
}